<h1>A Title</h1>
<p [info]="infoText">Some text</p>

<br />

<h3 [info]="infoText">List of Things</h3>
<ul>
  <li>item</li>
  <li>item</li>
  <li>item</li>
  <li>item</li>
  <li>item</li>
  <li>item</li>
</ul>

<h2 [info]="infoText">Form</h2>

<form style="width: 25vw; display: flex; flex-direction: column">
  <label>Name</label>
  <input type="text" placeholder="Add Name" />
  <label>Middle Names</label>
  <input type="text" placeholder="Add Middle Names" />
  <label>Surname</label>
  <input type="text" placeholder="Add Surname" />
</form>
