<h1>A Title</h1>
<br />
<p [info]="infoText">Some text</p>
<br />
<h3 [info]="'This is a list'">List of Things</h3>
<br />
<ul>
  <li>item</li>
  <li>item</li>
  <li>item</li>
  <li>item</li>
  <li>item</li>
  <li>item</li>
</ul>
<h2 [info]="'This is a form'">Form</h2>
<br />
<form style="width: 25vw; display: flex; flex-direction: column">
  <label>Name</label>
  <input type="text" placeholder="Add Name" />
  <label>Middle Names</label>
  <input type="text" placeholder="Add Middle Names" />
  <label>Surname</label>
  <input type="text" placeholder="Add Surname" />
</form>
