<h1>Tooltip Directive</h1>
<h2 [tooltip]="toolTipOne">List of Things</h2>
<br />
<ul>
  <li>item</li>
  <li>item</li>
  <li>item</li>
  <li>item</li>
  <li>item</li>
  <li>item</li>
</ul>
<h2 [tooltip]="toolTipTwo">Form</h2>
<br />
<form style="width: 25vw; display: flex; flex-direction: column">
  <label>Name</label>
  <input type="text" placeholder="Add Name" />
  <label>Middle Names</label>
  <input type="text" placeholder="Add Middle Names" />
  <label>Surname</label>
  <input type="text" placeholder="Add Surname" />
</form>

<h2 [tooltip]="toolTipThree">Some Text</h2>
<br />
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
  incididunt ut labore et dolore magna aliqua.
</p>
